/.vs
/.svn
*.sqlproj.user
*.csproj.user
db/*/*.dbmdl
db/*/*.jfm
db/*/匯入結構描述記錄
bin/
obj/
/lib.ext
app/CMS_API/pub
db/.vs
.DS_Store
app/CMS_API/wwwroot/lib/bootstrap
app/CMS_API/wwwroot/lib/jquery
app/CMS_API/wwwroot/lib/jquery-validation
app/CMS_API/wwwroot/lib/jquery-validation-unobtrusive
